<html>
  <head>
    <title> heippaa </title>
  </head>
  <body>
    <div id ="table">
      <form>
        <input type='text' name='item' placeholder='add new item...' required/>
        <button type='submit'>add item</button>
      </form>
      - list = [1,2,3]
      - var i = 0;
      ul
        while i < 3
          li= k
    </div>
  </body>

</html>